{%
  set classes = [
    'node',
    'node--type-' ~ node.bundle|clean_class,
    node.isPromoted() ? 'node--promoted',
    node.isSticky() ? 'node--sticky',
    not node.isPublished() ? 'node--unpublished',
    view_mode ? 'node--view-mode-' ~ view_mode|clean_class
  ]
%}

<div{{ attributes.addClass(classes)|without('about') }}>
  <header>
    <div class="container">
      <h2 class="title"><span>{{ label }}</span></h2>
    </div>
  </header>
  
  <div class="full_content_image blue no-bottom-padding" {{ content_attributes.addClass('node__content', 'clearfix') }}>
      {{ content|without('body', 'field_news_date_publication')  }}
  </div>
  <div class="full_content">
    {{ content.body }}
    <span class="post-body-info">
        {{ content.field_news_date_publication }}
    </span>
  </div>
</div>
